<et-drawer #drawer>
  <div style="">
    <et-list-view>
      <et-list-view-divider>
        进阶用法
      </et-list-view-divider>
    </et-list-view>
  </div>
</et-drawer>
<et-app>
  <et-app-bar>
    <ng-container start>
      <et-icon etRouter name="mdi-arrow-left"></et-icon>
    </ng-container>
    <ng-container title>
      checkbox
    </ng-container>
    <ng-container end>
      <et-icon (click)="drawer.toggle()" type="primary" name="mdi-menu"></et-icon>
    </ng-container>
  </et-app-bar>


  <et-app-body padding>
    <h2>基础</h2>
    <input type="checkbox">

    <h2>列表输入</h2>
    <et-list-view>
      <et-checkbox-item>
        冬瓜汤
      </et-checkbox-item>

      <et-checkbox-item>
        冬瓜汤
      </et-checkbox-item>

      <et-checkbox-item>
        冬瓜汤
      </et-checkbox-item>

      <et-checkbox-item>
        冬瓜汤
      </et-checkbox-item>
    </et-list-view>
  </et-app-body>
</et-app>
