<et-app>
  <et-app-bar>
    <ng-container start>
      <et-icon etRouter name="mdi-arrow-left"></et-icon>
    </ng-container>
    <ng-container title>
      indicator
    </ng-container>
  </et-app-bar>


  <et-app-body padding>
    <h2>基础</h2>
    <et-indicator></et-indicator>

    <h2>类型 <code>type</code></h2>
    <et-indicator type="primary"></et-indicator>
    <et-indicator type="secondary"></et-indicator>
    <et-indicator type="danger"></et-indicator>
      <et-indicator type="light"></et-indicator>
    <et-indicator type="dark"></et-indicator>
  </et-app-body>
</et-app>
