<et-app>
  <et-app-bar>
    <ng-container start>
      <et-icon etRouter name="mdi-arrow-left"></et-icon>
    </ng-container>
    <ng-container title>
      标签
    </ng-container>
  </et-app-bar>


  <et-app-body>
    <h2>基础</h2>
    <et-tabbar>
      <et-tabbar-item index="1" icon="mdi-account"></et-tabbar-item>
      <et-tabbar-item index="2" icon="mdi-account"></et-tabbar-item>
      <et-tabbar-item index="3" icon="mdi-account"></et-tabbar-item>
    </et-tabbar>
    <h2>类型 <code>type</code></h2>
    <et-tabbar type="primary">
      <et-tabbar-item index="1" icon="mdi-account">工作台</et-tabbar-item>
      <et-tabbar-item index="2" icon="mdi-account">收购台</et-tabbar-item>
      <et-tabbar-item index="3" icon="mdi-account">我的</et-tabbar-item>
    </et-tabbar>
    <et-tabbar type="secondary">
      <et-tabbar-item index="1" icon="mdi-account">工作台</et-tabbar-item>
      <et-tabbar-item index="2" icon="mdi-account">收购台</et-tabbar-item>
      <et-tabbar-item index="3" icon="mdi-account">我的</et-tabbar-item>
    </et-tabbar>
    <et-tabbar type="danger">
      <et-tabbar-item index="1" icon="mdi-account">工作台</et-tabbar-item>
      <et-tabbar-item index="2" icon="mdi-account">收购台</et-tabbar-item>
      <et-tabbar-item index="3" icon="mdi-account">我的</et-tabbar-item>
    </et-tabbar>
    <et-tabbar type="light">
      <et-tabbar-item index="1" icon="mdi-account">工作台</et-tabbar-item>
      <et-tabbar-item index="2" icon="mdi-account">收购台</et-tabbar-item>
      <et-tabbar-item index="3" icon="mdi-account">我的</et-tabbar-item>
    </et-tabbar>
    <et-tabbar type="dark">
      <et-tabbar-item index="1" icon="mdi-account">工作台</et-tabbar-item>
      <et-tabbar-item index="2" icon="mdi-account">收购台</et-tabbar-item>
      <et-tabbar-item index="3" icon="mdi-account">我的</et-tabbar-item>
    </et-tabbar>
  </et-app-body>
</et-app>
