@import "./variables";

et-app-body {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  contain: layout size style;
  .scroll-content {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    z-index: 1;
    display: block;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    will-change: scroll-position;
    contain: size style layout;
  }
}

et-app-body[padding] {
  padding: 0;
  .scroll-content {
    padding: 0.4rem;
  }
}
