@import "./variables";

et-icon {
  i.et-icon-primary {
    color: $primaryColor;
  }

  i.et-icon-secondary {
    color: $secondaryColor;
  }

  i.et-icon-danger {
    color: $dangerColor;
  }

  i.et-icon-light {
    color: $lightColor;
  }

  i.et-icon-dark {
    dark: $darkColor;
  }

}
