// 主题色
$primaryColor: #007aff;
$secondaryColor: #32db64;
$dangerColor: #d91e18;
$lightColor: #f4f4f4;
$darkColor: #222;
$whiteColor: #fff;

// 字体颜色
$textBlackColor: #111;
$textWhiteColor: #fff;
$textLightColor: rgb(210, 210, 210) ;
$textSecondColor: #888 ;
$textBackgroundColor: #ddd ;


$borderColorLow: rgba(0, 0, 0, 0.1);
$borderColorWhite: #d9d9d9;
$borderColorMiddle: rgba(0, 0, 0, 0.2);
$borderColorHigh: rgba(0, 0, 0, 0.3);

